.column {
  display: flex;
  width: 33%;
  justify-content: center;
}
.row {
  display: flex;
  height: calc(30vh - 56px);
  align-items: center;
  justify-content: center;
}

.tabela {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
