<dx-chart id="chart" [dataSource]="podatki" [title]="chartName">
  <dxi-series
    [argumentField]="xAxis"
    [valueField]="yAxis"
    [name]="yAxis"
    type="bar"
    color="#ffaa66"
  >
  </dxi-series>
  <dxo-tooltip [enabled]="true" location="edge"> </dxo-tooltip>
</dx-chart>

<dx-pie-chart
  type="doughnut"
  [title]="chartName"
  palette="Soft Pastel"
  [dataSource]="podatki"
  (onLegendClick)="legendClickHandler($event)"
  (onPointClick)="pointClickHandler($event)"
  [resolveLabelOverlapping]="'hide'"
>
  <dxi-series [argumentField]="xAxis" [valueField]="yAxis">
    <dxo-label [visible]="true" [customizeText]="customizeLabel">
      <dxo-connector [visible]="true" [width]="1"></dxo-connector>
    </dxo-label>
  </dxi-series>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-legend [visible] = "false"
      [margin]="0"
    horizontalAlignment="right"
    verticalAlignment="top"
  ></dxo-legend>
  <dxo-tooltip [enabled]="true"> </dxo-tooltip>
</dx-pie-chart>
