<dx-chart id="chart" title="grupiranoPolje" [dataSource]="finalniPodatki">
  <dxi-series valueField="AAVE" name="AAVE"></dxi-series>
  <dxi-series valueField="BNB" name="BNB"></dxi-series>
  <dxi-series valueField="ETH" name="ETH"></dxi-series>

  <dxi-series
    *ngFor="let item of finalniPodatki"
    [valueField]="item.vrednostX"
    [name]="item.vrednostX"
  ></dxi-series>
  <dxi-value-axis position="right">
    <dxo-title text="osY"></dxo-title>
  </dxi-value-axis>
  <dxo-common-series-settings
    argumentField="percent_change_24h"
    type="stackedBar"
  >
  </dxo-common-series-settings>
  <dxo-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
    itemTextPosition="top"
  >
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-tooltip [enabled]="true" location="edge"> </dxo-tooltip>
</dx-chart>
